
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.statement {
  max-width: 80vw;
  margin: 0 auto;

  @media screen and (min-width: 767px) {
    max-width: 60vw;
  }
}
